div {
  position: relative;
  margin-top: auto;
  margin-left: auto;
}

h4 {
  font-family: 'BrutalType-Medium';
  font-size: 25px;
  line-height: 123.7%;
  margin-left: 78px;
  margin-top: -25px;

}

h3 {
  font-family: 'BrutalType-ExtraBold';
  font-size: 36px;
  letter-spacing: -0.035em;
  text-decoration-line: underline;
  margin: 53px 0 0 79px;
  color: #ffffff;

}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

header nav a {
  color: #000000;
  font-family: 'BrutalType-Medium';
  font-size: 19.1733px;
  letter-spacing: -0.035em;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
}

header nav ul {
  display: flex;
  flex-flow: row;
  list-style: none;
  font-weight: 500;
  flex-direction: column;
  align-items: right;
  margin-left: auto;
}

header nav ul li {
  margin-right: 30px;
}

/* блок 1 */

.block1 {
  position: absolute;
  top: 131px;
  left: 83px;
}

.text1 {
  font-family: 'BrutalType-Medium' ;
}

div h1 {
  font-size: 116.337px;
  line-height: 77.2%;
  letter-spacing: -0.030em;
  position: relative;
  top: 69px;
  right: -71px;
}

div h2 {
  font-size: 43.6262px;
  line-height: 123.7%;
  letter-spacing: -0.02em;
  position: relative;
  margin-left: 77px;
  margin-top: 97px;
}

.img1 {
  position: relative;
  margin-top: -70px;
  margin-left: 334px;
}



/* блок 2 */

.block2 {
  top: 11px;
  left: 0px;
  width: 1440px;
  height: 573px;;
  background: #000000;
}

.text14 {
  top: 52px;
}

.text3 {
  top: 53px;
}

.img2 {
  position: absolute;
  top: 41px;
  left: 0px;
}

.t20, .t13 {
  font-family: 'BrutalType-Black';
  line-height: 88.7%;
  letter-spacing: -0.035em;
  font-size: 96px;
}

.t20 {
  position: relative;
  margin-top: 133px;
  margin-left: 359px;
  transform: rotate(-16.43deg);
  color: transparent; /* прозрачный цвет букв */
  -webkit-text-stroke: 3px white;
}

.t13 {
  text-align:  center;
  position: relative;
  margin-top: 144px;
  margin-left: -661px;
  transform: rotate(49.43deg);
  color: #000000;
  -webkit-text-stroke: 3px white;
}

.p02 {
  position: relative;
  margin-top: -447px;
  margin-left: 517px;
  width: 700px;
}

.p1 {
  color: #ffffff;
  font-family: 'BrutalType-Regular';
  font-size: 40px;
  line-height: 125.2%;
  letter-spacing: -0.04em;
}



/* блок 3 */

.block3 {
  margin-top: 0px;
  margin-left: 0px;
  width: 1440px;
  height: 600px;
}

.text5 {
  top: 121px;
}

.h_3 {
  color: #000000;
}

.p03 {
 position: relative;
 margin-top: 145px;
 margin-left: 39px;
}

.p1_1 {
  color: #000000;
}

.img3 {
  left: 678px;
  top: -299px;
}

#black {
  font-family: 'BrutalType-Black' ;
  margin: -4px 0 0 43px;
}

#extrabold {
  font-family: 'BrutalType-ExtraBold' ;
  margin: -50px 0 0 154px;
}

#bold {
  font-family: 'BrutalType-Bold' ;
  margin: -50px 0 0 332px;
}

#medium {
  font-family: 'BrutalType-Medium' ;
  margin: -50px 0 0 417px;
}

#regular {
  font-family: 'BrutalType-Regular' ;
  margin: -4px 0 0 43px;
}

#light {
  font-family: 'BrutalType-Light' ;
  margin: -50px 0 0 169px;
}

#extralight {
  font-family: 'BrutalType-ExtraLight' ;
  margin: -50px 0 0 255px;
}

#thin {
  font-family: 'BrutalType-Thin' ;
  margin: -50px 0 0 417px;
}


/* блок 4 */

.block4 {
  margin-top: 0px;
  margin-left: 0px;
  width: 1440px;
  height: 331px;
  background: #000000;
}

.black, .black2, .bold, .bold2, .regular, .regular2, .extralight, .extralight2, .extrabold, .extrabold2, .medium, .medium2, .light, .light2, .thin, .thin2 {
  display: flex;
  justify-content: flex-start;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.black2, .bold2, .regular2, .extralight2, .extrabold2, .medium2, .light2, .thin2 {
  font-size: 24px;
  margin-top: 53px;
  margin-left: 2px;
}

.black, .bold, .regular, .extralight, .extrabold, .medium, .light, .thin {font-size: 48px;}

.black, .black2 {font-family: 'BrutalType-Black';}
.bl {
  position: absolute;
  left: 179px;
  top: 77px;
  width: 240px;
}

.bold, .bold2 {font-family: 'BrutalType-Bold';}
.bd {
  transform: translate(100%, 0%);
  position: absolute;
  left: 237px;
  top: 77px;
  width: 240px;
}


.regular, .regular2 {font-family: 'BrutalType-Regular';}
.rr {
  transform: translate(100%, 0%);
  position: absolute;
  left: 527px;
  top: 77px;
  width: 240px;
}

.extralight, .extralight2 {font-family: 'BrutalType-ExtraLight'}
.el {
  transform: translate(100%, 0%);
  position: absolute;
  left: 800px;
  top: 77px;
  width: 240px;
}

.extrabold, .extrabold2 {font-family: 'BrutalType-ExtraBold'}
.eb {
  transform: translate(100%, 0%);
  position: absolute;
  left: -61px;
  top: 171px;
  width: 240px;
}

.medium, .medium2 {font-family: 'BrutalType-Medium'}
.mm {
  transform: translate(100%, 0%);
  position: absolute;
  left: 237px;
  top: 171px;
  width: 240px;
}

.light, .light2 {font-family: 'BrutalType-Light'}
.lt {
  transform: translate(100%, 0%);
  position: absolute;
  left: 527px;
  top: 171px;
  width: 240px;
}

.thin, .thin2 {font-family: 'BrutalType-Thin'}
.tn {
  transform: translate(100%, 0%);
  position: absolute;
  left: 800px;
  top: 171px;
  width: 240px;
}


/* блок 5 */

.block5 {
  margin-top: 0px;
  margin-left: 0px;
  width: 1440px;
  height: 510px;
}

.hr1, .hr2, .hr3, .hr4 {
  border-bottom: 4px solid rgba(0, 0, 0, 0.7);
  width: 1246px;
}

.hr1 {
  align-items: center;
  position: absolute;
  left: 97px;
  top: 97px;
}

.hr2 {
  align-items: center;
  position: absolute;
  left: 97px;
  top: 131px;
}

.hr3 {
  align-items: center;
  position: absolute;
  left: 97px;
  top: 325px;
}

.hr4 {
  align-items: center;
  position: absolute;
  left: 97px;
  top: 357px;
}

.aikido {
  font-family: 'BrutalType-Medium' ;
  font-size: 323.484px;
  letter-spacing: -0.035em;
}

.text7 {
  top: 44px;
  left: 284px;
}

.ellipse {
  margin-left: -6px;
  margin-top: -109px;
}


/* блок 6 */

.block6 {
  margin-top: -62px;
  margin-left: 0px;
  width: 1440px;
  height: 540px;
}

.text8 {
  top: -32px;
}

.img4 {
  margin-left: 64px;
  margin-top: -26px;
}

.text10 {
  margin-top: -174px;
  margin-left: 744px;
}

#p10 {
  font-size: 36px;
}

.p100 {
  margin-left: 37px;
}


/* блок 7 */

.block7 {
  margin-top: 0px;
  margin-left: 0px;
  width: 1440px;
  height: 691px;
  background: #000000;
}

.text11 {
  padding-top: 34px;
  text-align: center;
}

.img5 {
  margin-left: 353px;
  margin-top: -83px;

}


/* блок 8 */

.block8 {
  margin-top: -52px;
  margin-left: 0px;
  width: 1440px;
  height: 671px;
}

.text12 {
  top: 66px;
}

.img6 {
  margin-left: 166px;
  margin-top: 118px;
}


/* блок 9 */

.block9 {
  margin-top: -114px;
  margin-left: 0px;
  width: 1440px;
  height: 769px;
  background: #000000;
}

.ul1, .ul2 {
  font-family: 'BrutalType-Regular';
  font-size: 36px;
  line-height: 130.2%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.ul1 {
  margin-top: 129px;
  margin-left: 40px;
}

.ul2 {
  margin-top: -96px;
  margin-left: 400px;
}

.text15 {
  top: 33px;
}

.img7 {
  display: block;
  margin-left: 100px;
  margin-right: auto;
  top: 44px;
}


/* блок 10 */

.block10 {
  margin-top: -46px;
  margin-left: 0px;
  width: 1440px;
  height: 735px;
}

.text16 {
  top: 55px;
}

.list11 {
  position: absolute;
  top: 146px;
  left: 83px;
  width: 183.51px;
  height: 542.2px;
  background-image: url('../images/bilet1.svg');
}

#square {
  width: 45.88px;
  height: 216.88px;
  background-color: #272727;
  margin-top: 252px;
  margin-left: 10px;
}

#square1 {
  width: 20px;
  height: 315px;
  background-color: #272727;
  margin-top: 77px;
  margin-left: 20px;
}

#square2 {
  width: 19.46px;
  height: 36.15px;
  background-color: #272727;
  margin-top: 68px;
  margin-left: 50px;
}

#square3 {
  width: 19.46px;
  height: 172.39px;
  background-color: #272727;
  margin-top: -197px;
  margin-left: 82px;
}

#square4 {
  width: 19.46px;
  height: 72.29px;
  background-color: #272727;
  margin-top: -350px;
  margin-left: 82px;
}

#square5 {
  width: 20px;
  height: 318px;
  background-color: #272727;
  margin-top: -117px;
  margin-left: 112px;
}

#square6 {
  width: 19.46px;
  height: 41.71px;
  background-color: #272727;
  margin-top: -202px;
  margin-left: 143px;
}

.discipline-, .force {
  font-family: 'BrutalType-Medium';
  font-size: 33.3659px;
  line-height: 91.7%;
  transform: rotate(-90deg);
}

.discipline- {
  color: #FCFCFC;
  margin-top: -170px;
  margin-left: -114px;

}

.force {
  margin-top: 7px;
  margin-left: -40px;
}

.ul3, .force, .a0209-, .expo-stories, .le, .-a, .com, .bilet2 {
  color: #272727;
}

.ul3 {
  font-family: 'BrutalType-Medium';
  font-size: 0.03658px;
  line-height: 94.7%;
  letter-spacing: -0.075em;
  text-align: right;
  margin-right: 7px;
  margin-top: -195px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0px;
  gap: 21px;
}

.expo-stories {
  font-family: 'BrutalType-Bold';
  font-size: 11.122px;
  line-height: 84.2%;
  letter-spacing: -0.075em;
  text-align: left;
  margin-left: 133px;
  margin-top: -273px;
}

.a0209- {
  font-family: 'BrutalType-Black' ;
  font-size: 20.8537px;
  letter-spacing: -0.075em;
  margin-left: 22px;
  margin-top: -34px;
}

.com {
  font-family: 'BrutalType-Medium' ;
  font-size: 3.72358px;
  letter-spacing: -0.04em;
  margin-left: 24px;
  margin-top: 387px;
}

.com2 {
  margin-top: 159px;
}

.list12 {
  position: absolute;
  top: 146px;
  left: 299px;
  width: 183.51px;
  height: 542.2px;
  background-image: url('../images/bilet2.svg');
}

.fighting, .festivale, .winner, .samurai, .technology {
  font-family: 'BrutalType-Medium';
  font-size: 33.3659px;
  line-height: 91.7%;
  transform: rotate(-90deg);
}

.fighting {
  margin-top: 99px;
  margin-left: -126px;
}

.festivale {
  margin-top: -33px;
  margin-left: -68px;
}

.winner {
  margin-top: -148px;
  margin-left: -3px;
}

.samurai {
  margin-top: 216px;
  margin-left: 60px;
}

.technology {
  margin-top: -101px;
  margin-left: 126px;
}

.bilet2 {
  font-family: 'BrutalType-Bold' ;
  font-size: 21.0081px;
}

.list13 {
  position: absolute;
  top: 398px;
  left: 706px;
  width: 405px;
  height: 222px;
  background-image: url('../images/visit1.svg');
}

.list14 {
  position: absolute;
  top: 215px;
  left: 1134px;
  width: 222px;
  height: 405px;
  background-image: url('../images/visit2.svg');
}

.text17 {
  top: 222px;
  right: -871px;
}


/* блок 11 */

.block11 {
  margin-top: -42px;
  margin-left: 0px;
  width: 1440px;
  height: 800px;
  background: #000000;
}

.text18 {
  top: 51px;
  left: 0px;
}

.poster1, .poster2, .poster3 {
  margin-top: 214px;
  bottom: 63px;
}

#poster11 {
  position: absolute;
  top: -803px;
  left: 133px;
  width: 371.14px;
  height: 536px;
  background-image: url('../images/poster1.svg');
}

.carate {
  font-family: 'BrutalType-Black' ;
  font-size: 56.4211px;
  letter-spacing: -0.035em;
  color: #000000;
  position: absolute;
  top: -558px;
  left: 230px;
}

#poster22 {
  position: absolute;
  top: -803px;
  left: 534px;
  width: 371.14px;
  height: 536px;
  background-image: url('../images/poster2.svg');
}

.cultureofpain {
  font-family: 'BrutalType-Black' ;
  font-size: 31.7368px;
  letter-spacing: -0.05em;
  color: #ffffff;
  position: absolute;
  top: -617px;
  left: 547px;
}

#poster33 {
  position: absolute;
  top: -803px;
  right: 137px;
  width: 371.14px;
  height: 536px;
  background-image: url('../images/poster3.svg');
}

.beeandwin {
  font-family: 'BrutalType-Regular' ;
  font-size: 42.3947px;
  letter-spacing: -0.075em;
  color: #000000;
  text-decoration-line: underline;
  position: absolute;
  top: -724px;
  right: 155px;
}


/* блок 12 */

.block12 {
  margin-top: -237px;
  margin-left: 0px;
  width: 1440px;
  height: 771px;
  background: #ffffff;
}

.text19 {
  top: 51px;
  left: 0px;
}

.img8 {
  display: block;
  margin-left: 100px;
  margin-right: auto;
  bottom: 630px;
}


/* блок 13 */

.block13 {
  margin-top: -557px;
  margin-left: 0px;
  width: 1440px;
  height: 281px;
  background: #000000;
}

.pi {
  font-family: 'BrutalType-Medium' ;
  font-size: 33.2109px;
  letter-spacing: -0.06em;
  line-height: 97.2%;
  color: #ffffff;
  padding-left: 135px;
  padding-top: 88px;
}

.img9 {
  position: absolute;
  top: 99px;
  left: 1131px;
}


/* блок 1, буквы */

.text13 {
  position: relative;
  margin-top: -605px;
  margin-left: -27px;
  width: 781px;
  height: 653px;

}

.s, .d, .h, .g, .c, .h3, .x, .t, .p, .k, .b, .u2, .y, .r, .l2, .j, .h2, .m, .a, .q, .w, .o2, .l, .n {
  font-family: 'BrutalType-Bold' ;
}

.f, .u, .s2, .d2 {
  font-family: 'BrutalType-Medium' ;
  color: transparent; /* прозрачный цвет букв */
  -webkit-text-stroke: 1.7px black;
}

.e, .o {font-family: 'BrutalType-Medium' ;}

.s, .d, .h, .g, .c, .h3, .t, .p, .e, .o {
  color: transparent; /* прозрачный цвет букв */
  -webkit-text-stroke: 3px black;
}

.s, .b, .y, .e, .n, .l2, .j, .m, .h3, .a, .q, .w, .r {font-size: 81.4436px;}

.h, .g, .c, .o, .t, .p {font-size: 111.907px;}

.f, .u, .d2, .u2, .h2, .k {font-size: 20px;}


/* блок 1, буквы (прозрачные, с обводкой) */

.s {
  transform: rotate(-0.58deg);
  position: absolute;
  top: 14px;
  right: 242px;
}

.d {
  font-size: 77.1441px;
  transform: rotate(-136.9deg);
  position: absolute;
  top: 284px;
  right: 167px;
}

.h {
  transform: rotate(-28.81deg);
  position: absolute;
  bottom: -11px;
  right: 144px;
}

.g {
  transform: rotate(-28.81deg);
  position: absolute;
  bottom: 131px;
  right: 347px;
}

.f {
  transform: rotate(156deg);
  position: absolute;
  top: 209px;
  right: 354px;
}

.u {
  transform: rotate(-55.15deg);
  position: absolute;
  bottom: 59px;
  right: 418px;
}

.c {
  transform: rotate(-28.81deg);
  position: absolute;
  top: 73px;
  right: 472px;
}

.s2 {
  font-size: 25.2127px;
  transform: rotate(-55.15deg);
  position: absolute;
  top: 208px;
  right: 557px;
}

.o {
  transform: rotate(-56.48deg);
  position: absolute;
  bottom: -4px;
  left: 401px;
}

.d2 {
  transform: rotate(-55.15deg);
  position: absolute;
  bottom: 155px;
  left: 433px;
}

.e {
  transform: rotate(155.12deg);
  position: absolute;
  bottom: 210px;
  left: 309px;
}

.h3 {
  transform: rotate(-28.37deg);
  position: absolute;
  top: 45px;
  left: 147px;
}

.x {
  font-size: 34.5919px;
  color: transparent; /* прозрачный цвет букв */
  -webkit-text-stroke: 1.7px black;
  transform: rotate(-32.19deg);
  position: absolute;
  top: 251px;
  left: 245px;
}

.t {
  transform: rotate(-56.48deg);
  position: absolute;
  bottom: -23px;
  left: 262px;
}

.p {
  transform: rotate(121.87deg);
  position: absolute;
  bottom: -9px;
  left: 11px;
}


/* блок 1, буквы (черные) */

.n {
  font-size: 132.352px;
  transform: rotate(-19.13deg);
  position: absolute;
  top: 285px;
  right: 243px;
}

.k {
  transform: rotate(-33.75deg);
  position: absolute;
  bottom: 206px;
  right: 320px;
}

.b {
  transform: rotate(41.71deg);
  position: absolute;
  top: 179px;
  right: 202px;
}

.l {
  font-size: 74.7063px;
  transform: rotate(121.25deg);
  position: absolute;
  top: 67px;
  right: 309px;
}

.u2 {
  transform: rotate(27.96deg);
  position: absolute;
  top: 154px;
  right: 345px;
}

.y {
  transform: rotate(-126.76deg);
  position: absolute;
  top: 162px;
  right: 396px;
}

.r {
  transform: rotate(41.71deg);
  position: absolute;
  top: 30px;
  right: 386px;
}

.l2 {
  transform: rotate(-0.58deg);
  position: absolute;
  top: 190px;
  right: 556px;
}

.o2 {
  font-size: 46.0667px;
  transform: rotate(-45.3deg);
  position: absolute;
  bottom: 83px;
  right: 592px;
}

.j {
  transform: rotate(-0.58deg);
  position: absolute;
  bottom: 149px;
  left: 359px;
}

.h2 {
  transform: rotate(-55.15deg);
  position: absolute;
  top: 136px;
  left: 433px;
}

.m {
  transform: rotate(-28.37deg);
  position: absolute;
  top: 95px;
  left: 262px;
}

.a {
  transform: rotate(-28.37deg);
  position: absolute;
  top: 87px;
  left: 27px;
}

.q {
  transform: rotate(-0.58deg);
  position: absolute;
  top: 178px;
  left: 88px;
}

.w {
  transform: rotate(9.21deg);
  position: absolute;
  bottom: 72px;
  left: 174px;
}


/* блок 3, буквы */

ol p {
  transition: 0.6s linear; /* плавность перехода */
}

ol p:hover {
  letter-spacing: 0em; /* свойство, на которое меняется при наведении. в моем случае это межбуквенное расстояние */
  animation-timing-function: ease-in; /* в каком виде происходит переход (сначала замедленное, потом быстро и типо таких видов) */
  animation-iteration-count: infinite; /* типо сколько раз повторяется. можно настроить даже бесконечно (infinite) */
}

ul p {
  transition: 0.6s linear;
}

ul p:hover {
  color: #fff; /* Цвет текста */
  background: #000;
}

.allblock3 {
  font-family: 'BrutalType-ExtraBold' ;
}

.gg4block3, .rrblock3, .dd5block3, .ffblock3, .ccblock3, .g2block3, .ddblock3 {
  font-size: 78.0625px;
}

.sblock3, .nblock3 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
}

.mblock3, .ublock3, .uublock3, .uu2block3, .uu3block3, .hhblock3, .jjblock3, .jj2block3, .jj3block3, .dblock3, .d2block3, .ddblock3, .dd4block3, .ssblock3, .ss2block3, .ss3block3, .gblock3, .ggblock3, .yyblock3, .qqblock3, .ttblock3, .llblock3, .ll2block3, .wblock3, .aablock3
{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
  color: #ffffff;
}

.mblock3, .d2block3, .gblock3, .ublock3, .uu2block3, .uu3block3 {
  font-size: 125.311px;
}

.llblock3, .ll2block3, .ss3block3 {
  font-size: 73.2527px;
}

.dblock3, .pblock3 {
  font-size: 110.918px;
}

.gg2block3, .aablock3, .hhblock3, .wblock3 {
  font-size: 156.125px;
}

.nnblock3, .nblock3 {
  font-size: 130.074px;
}

.lblock3, .eblock3, .ablock3 {
  font-size: 76.0254px;
}

.jjblock3, .tblock3, .jj2block3, .ttblock3, .dd4block3, .vblock3, .yyblock3 {
  font-size: 77.1441px;
}

.iblock3, .kblock3, .eeblock3 {
  font-size: 37.2309px;
}

.mmblock3, .dd2block3 {
  font-size: 154.39px;
}

.el1, .el2, .el3, {
  width: 51px;
  height: 51px;
}

.sblock3 {
  font-size: 124.39px;
  transform: rotate(-135.38deg);
  position: absolute;
  top: 35px;
  right: 61px;
}

.mblock3 {
  transform: rotate(-141.07deg);
  position: absolute;
  top: 98px;
  right: 267px;
}

.d2block3 {
  transform: rotate(-109.36deg);
  position: absolute;
  top: 137px;
  right: 372px;
}

.dblock3 {
  transform: rotate(-28.72deg);
  position: absolute;
  top: 147px;
  right: 229px;
}

.gblock3 {
  transform: rotate(131.25deg);
  position: absolute;
  top: 43px;
  right: 342px;
}

.wblock3 {
  transform: rotate(-165.62deg);
  position: absolute;
  top: 4px;
  right: 128px;
}

.nblock3 {
  transform: rotate(124.8deg);
  position: absolute;
  top: 28px;
  right: 250px;
}

.ublock3 {
  transform: rotate(-141.07deg);
  position: absolute;
  top: 93px;
  right: 61px;
}

.tblock3 {
  transform: rotate(164.89deg);
  position: absolute;
  top: 161px;
  right: 59px;
}

.pblock3 {
  transform: rotate(152.49deg);
  position: absolute;
  top: 95px;
  right: 206px;
}

.ablock3 {
  transform: rotate(34.6deg);
  position: absolute;
  top: 197px;
  right: 406px;
}

.bbblock3 {
  font-size: 148.249px;
  position: absolute;
  top: 331px;
  left: -3px;
}

.wwblock3 {
  font-size: 123.513px;
  transform: rotate(-15deg);
  position: absolute;
  top: 234px;
  left: 83px;
}


.llblock3 {
  position: absolute;
  bottom: 154px;
  left: 40px;
}

.ll2block3 {
  position: absolute;
  bottom: 154px;
  left: 40px;
}

.jj3block3 {
  font-size: 57.2537px;
  transform: rotate(43deg);
  position: absolute;
  bottom: 279px;
  left: 273px;
}

.ttblock3 {
  transform: rotate(164.89deg);
  position: absolute;
  bottom: 199px;
  right: 59px;
}

.jj2block3 {
  transform: rotate(239deg);
  position: absolute;
  bottom: 146px;
  right: 330px;
}

.eeblock3 {
  transform: rotate(-141.07deg);
  position: absolute;
  bottom: 257px;
  right: 323px;
}

.yyblock3 {
  transform: rotate(-136.9deg);
  position: absolute;
  bottom: 289px;
  right: 338px;
}

.ss3block3 {
  transform: rotate(42.58deg);
  position: absolute;
  bottom: 201px;
  left: 294px;
}

.qqblock3 {
  font-size: 74.3182px;
  transform: rotate(24.55deg);
  position: absolute;
  bottom: 140px;
  left: 294px;
}

.ggblock3 {
  font-size: 118.99px;
  transform: rotate(23.36deg);
  position: absolute;
  bottom: 92px;
  left: 201px;
}

.uu2block3 {
  transform: rotate(-141.07deg);
  position: absolute;
  bottom: 60px;
  right: 40px;
}

.ddblock3 {
  transform: rotate(33.28deg);
  position: absolute;
  bottom: 118px;
  right: 144px;
}

.ssblock3 {
  font-size: 83.1519px;
  transform: rotate(143.92deg);
  position: absolute;
  bottom: 36px;
  right: 185px;
}

.llblock3 {
  font-size: 118.99px;
  transform: rotate(77.8deg);
  position: absolute;
  bottom: 20px;
  left: 430px;
}

.ss2block3 {
  font-size: 118.99px;
  transform: rotate(128.54deg);
  position: absolute;
  bottom: 24px;
  left: 328px;
}

.hhblock3 {
  transform: rotate(-165.62deg);
  position: absolute;
  bottom: 199px;
  right: 109px;
}

.uu3block3 {
  transform: rotate(-116.12deg);
  position: absolute;
  bottom: 255px;
  right: 222px;
}

.aablock3 {
  transform: rotate(-165.62deg);
  position: absolute;
  bottom: 91px;
  right: 232px;
}


.jjblock3 {
  transform: rotate(352deg);
  position: absolute;
  bottom: 355px;
  left: 156px;
}

.uublock3 {
  font-size: 100.249px;
  position: absolute;
  bottom: 114px;
  left: 100px;
}

.dd4block3 {
  transform: rotate(-136.9deg);
  position: absolute;
  bottom: 181px;
  left: 341px;
}

.eblock3 {
  transform: rotate(-134.39deg);
  position: absolute;
  top: 174px;
  right: 337px;
}

.kblock3 {
  transform: rotate(-78.34deg);
  position: absolute;
  top: 140px;
  right: 407px;
}

.lblock3 {
  line-height: 123.7%;
  letter-spacing: -0.035em;
  transform: rotate(-2.87deg);
  position: absolute;
  top: 130px;
  right: 444px;
}

.vblock3 {
  transform: rotate(-116.23deg);
  position: absolute;
  top: 88px;
  right: 420px;
}

.g2block3 {
  transform: rotate(167.1deg);
  position: absolute;
  top: 100px;
  right: 157px;
}

.iblock3 {
  transform: rotate(-78.34deg);
  position: absolute;
  top: 114px;
  right: 347px;
}

.fblock3 {
  font-size: 64px;
  transform: rotate(-151.71deg);
  position: absolute;
  top: 150px;
  right: 144px;
}


.ccblock3 {
  transform: rotate(-165.62deg);
  position: absolute;
  top: 330px;
  right: 65px;
}

.gg2block3 {
  transform: rotate(-165.62deg);
  position: absolute;
  top: 394px;
  right: 68px;
}

.nnblock3 {
  position: absolute;
  top: 442px;
  right: 184px;
}

.dd2block3 {
  transform: rotate(-165.62deg);
  position: absolute;
  top: 314px;
  right: 285px;
}

.mmblock3 {
  transform: rotate(163.75deg);
  position: absolute;
  top: 417px;
  right: 332px;
}

.mm2block3 {
  font-size: 139.616px;
  transform: rotate(16.07deg);
  position: absolute;
  top: 278px;
  right: 380px;
}

.dd3block3 {
  font-size: 146.602px;
  transform: rotate(-24.16deg);
  position: absolute;
  top: 345px;
  right: 481px;
}

.ffblock3 {
  transform: rotate(151.3deg);
  position: absolute;
  bottom: 65px;
  right: 139px;
}

.ee2block3 {
  font-size: 80.0641px;
  transform: rotate(-157.52deg);
  position: absolute;
  bottom: 85px;
  right: 303px;
}

.gg3block3 {
  font-size: 84.4793px;
  transform: rotate(140.28deg);
  position: absolute;
  bottom: 217px;
  right: 224px;
}

.rrblock3 {
  transform: rotate(-165.62deg);
  position: absolute;
  bottom: 182px;
  right: 181px;
}

.dd5block3 {
  transform: rotate(14.6deg);
  position: absolute;
  bottom: 266px;
  right: 180px;
}

.gg4block3 {
  transform: rotate(143.36deg);
  position: absolute;
  bottom: 73px;
  right: 451px;
}
